/*
 Theme Name:   Twenty Seventeen Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       Dawid Nawrocki
 Author URI:   http://example.com
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-seventeen
*/

.details {
    display: flex;
}

.logo {
    flex: 1;
}

.acf-map {
	flex: 1;
	height: 400px;
	border: #ccc solid 1px;
	margin: 20px 0;
}